{% extends "base.html" %}
   
{% block body %}
   
   <div class='navbuttons' >
      <div>
         <a class='btn btn-default {% if not prev_browsable_day %} disabled {% endif %} ' 
            href="{{ prev_browsable_day_link }}"
         >
            &laquo; Previous Day 
         </a>
      </div>

      <div>
         <a class='btn btn-default {% if not next_browsable_day %} disabled {% endif %} '
            href="{{ next_browsable_day_link }}"
         >
            Next Day &raquo;
         </a>
      </div>
   </div>

   <a class='back-button' href="../../../">&larr; Back to date listing</a>

   &middot;

   <a class='skip-bottom' href="#last">Skip to bottom of page</a>


   <input type="checkbox" id='showHideTime' checked><label for='showHideTime'>Hide timestamps</label>
   <br />


   <table class="entries">
   {% filter add_anchor_last_row %}
      {% for entry in entries %}
         <tr class="entry {{ entry.kind }}">
         {% if entry.kind == 'chan_msg' %}
            <td class='speaker'>
               {{ entry.who }}
            </td>
            <td class='message'>
               {{ entry.msg | urlize(target='_blank') }}
            </td>
         {% elif entry.kind == 'user_leave' %}
            <td class='info' colspan='2'>
               {{ entry.who }} has left the channel.
            </td>
         {% elif entry.kind == 'user_quit' %}
            <td class='info' colspan='2'>
               {{ entry.who }} has quit the network.
            </td>
         {% elif entry.kind == 'bot_disconnect' %}
            <td class='info' colspan='2'>
               The bot has disconnected from the channel.
            </td>
         {% elif entry.kind == 'bot_join' %}
            <td class='info' colspan='2'>
               The bot has joined the channel.
            </td>
         {% elif entry.kind == 'bot_connect' %}
            <td class='info' colspan='2'>
               The bot has connected to the channel.
            </td>
         {% elif entry.kind == 'user_join' %}
            <td class='info' colspan='2'>
               {{ entry.who }} has joined the channel.
            </td>
         {% elif entry.kind == 'user_nick_change' %}
            <td class='info' colspan='2'>
               {{ entry.who }} is now known as {{ entry.msg }}.
            </td>
         {% elif entry.kind == 'notice' %}
            <td class='info' colspan='2'>
               *** {{ entry.msg }}
            </td>
         {% endif %}
            <td class='time'>
               {{ entry.time }}
            </td>
         </tr>
      {% endfor %}
   {% endfilter %}
   </table>

{% endblock %}

